body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50px;
    background-color:rgb(39, 3, 241);   
}
h1, h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    color: rgb(245, 245, 249);
    text-align: center;
}
header{
    background-color: rgba(5, 119, 7, 0.63);
    height: auto;
    padding: auto;
}
footer{
    background-color: rgb(245, 249, 249);
    height: auto;
    padding: auto;
}